@font-face {
  font-family:japanese;
  src: url(./fonts/AssassinNinja-7BYyR.ttf);
}

body {
    font-family: japanese;
    background: url("./img/background.jpg")  no-repeat  center ;
  
    width:auto;
    height:auto;
}

/*Header*/

 #header{
    color:black;
    text-align: center;
    font-size: 50px;
    width:auto;
    margin: auto;
   border-color: none;
 }

/* about me tab */
 
#aboutMe{
   padding-bottom: 50px;
   text-align: center;
   width: 600px;
   margin: auto;
   font-size: 50px;
 }
 
 #mePhoto{
   width: 200px;
   height: auto;
   margin: auto;
   text-align: center;
   padding-top: 60px;
 }

 #hideAbout{
   width: 600px;
   display: none;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   margin: 0% auto;
   color:black;
 }

 p{
  background: rgba(148, 146, 144, 0.9);
  font-size:xx-large;
  width: fit-content;
  margin: auto;
 }

  a {
   text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: black; 
 }

 /*contact and social */
 
 #contact{
   padding-top: 50px;
   padding-bottom: 50px;
   width: fit-content;
   margin: auto;
   font-size: 50px;
  text-align: center;
 }

 img, #logoimg {
   width:100px;
   height: auto;
   display: inline-block;
   vertical-align: middle;
   padding: 50px;
 }

 #hideContact{
   display: none;
   background: rgba(148, 146, 144, 0.9);
   width: fit-content;
   text-align: center;
   margin: auto;
 }

 /*Projects*/

#projects{
   padding-top: 60px;
   width: fit-content;
   margin: auto;
   font-size: 50px;
   text-align: center;
}

#hideProjects{
   display: none;
   width: fit-content;
   background: rgba(148, 146, 144, 0.9);
}

 
 /*credits*/

 #logos{
   font-family: 'Courier New', Courier, monospace;
   font-size: small;
   text-align: center;
   margin: auto;
 }
 

