@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
body {
    background: #aa4b6b;
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  
    background-image: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 
    background-size: 500%;
    animation:bg-animation 20s infinite;
    font-family:Rubik Dirt, cursive;
}
 #header{
    color:white;
    text-align: center;
    font-size: 70px;
    
 }

  

 div + #link{
  text-align:center;
 }

 #hideAbout{
   
   display: none;

 }

 #link, a {
   text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: black; 
    
 }

 #aboutMe{
   padding-bottom: 30px;
   text-align: center;
   margin: auto;
 
   
 }

 #contact{
   padding-top: 30px;
   
 }

 img, #logoimg {
  
   width:100px;
   height: auto;
   display: inline-block;
   vertical-align: middle;
 }

  #mePhoto{
   width: 200px;
   height: auto;
 }

 #span, #logoimg{
   padding: 50px;
 }
 #hideContact{
   display: none;
 }

#projects{
   padding-top: 60px;
}

#hideProjects{
   display: none;
   padding: 40px;
}

 @keyframes bg-animation{
   0%{
      background-position: left;
   }
   50% {
      background-position: right;
   }
   100%{
      background-position: left;
   }
 }

 #logos{
   font-family: 'Courier New', Courier, monospace;
   font-size: small;
   text-align: center;
   margin: auto;
 }
 

